<h1 align="center">---- DataFrames ----</h1>

<b>0) Importing Libraries</b>

In [6]:
using Pkg
#Pkg.add("DataFrames") # deals with dataframes and series
using DataFrames

   Resolving package versions...
  No Changes to `C:\Users\gabri\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\gabri\.julia\environments\v1.8\Manifest.toml`
Precompiling project...
  ✗ PyCall
  ✗ PyPlot
  0 dependencies successfully precompiled in 6 seconds. 171 already precompiled.
  2 dependencies errored. To see a full report either run `import Pkg; Pkg.precompile()` or load the packages
   Resolving package versions...
    Updating `C:\Users\gabri\.julia\environments\v1.8\Project.toml`
  [10745b16] + Statistics
  No Changes to `C:\Users\gabri\.julia\environments\v1.8\Manifest.toml`
   Resolving package versions...
   Installed Rmath_jll ─────────────── v0.4.0+0
   Installed PDMats ────────────────── v0.11.16
   Installed StatsFuns ─────────────── v1.2.1
   Installed Calculus ──────────────── v0.5.1
   Installed DualNumbers ───────────── v0.6.8
   Installed HypergeometricFunctions ─ v0.3.11
   Installed GLM ───────────────────── v1.8.1
   Installed StatsModels ───────────── v0.6.33
   Installed Rmath ─────────────────── v0.7.1
   Installed FillArrays ────────────── v0.13.7
   Installed ShiftedArrays ─────────── v2.0.0
   Installed QuadGK ────────────────── v2.8.1
   Installed DensityInterface ──────── v0.4.0
   Installed Distributions ─────────── v0.25.84
    Updating `C:\Users\gabri\.julia\environments\v1.8\Project.toml`
  [38e38edf] + GLM v1.8.1
    Updating `C:\Users\gabri\.julia\environments\v1.8\Manifest.toml`
  [49dc2e85] + Calculus v0.5.1
  [b429d917] + DensityInterface v0.4.0
  [31c24e10] + Distributions v0.25.84
  [fa6b7ba4] + DualNumbers v0.6.8
  [1a297f60] + FillArrays v0.13.7
  [38e38edf] + GLM v1.8.1
  [34004b35] + HypergeometricFunctions v0.3.11
  [90014a1f] + PDMats v0.11.16
  [1fd47b50] + QuadGK v2.8.1
  [79098fc4] + Rmath v0.7.1
  [1277b4bf] + ShiftedArrays v2.0.0
  [4c63d2b9] + StatsFuns v1.2.1
  [3eaba693] + StatsModels v0.6.33
  [f50d1b31] + Rmath_jll v0.4.0+0
  [4607b0f0] + SuiteSparse
Precompiling project...
  ✓ ShiftedArrays
  ✓ PDMats
  ✓ Calculus
  ✓ DensityInterface
  ✓ FillArrays
  ✓ Rmath_jll
  ✓ QuadGK
  ✓ DualNumbers
  ✓ Rmath
  ✓ HypergeometricFunctions
  ✓ StatsFuns
  ✓ StatsModels
  ✓ Distributions
  ✓ GLM
  14 dependencies successfully precompiled in 13 seconds. 171 already precompiled. 2 skipped during auto due to previous errors.

----

<b>1) Creating DataFrames</b>

In [7]:
array = rand(1:100, 5, 4) # (rangeValues, rows, columns)
df = DataFrame(array, :auto) # ":auto" defines default columns names

5×4 DataFrame
 Row │ x1     x2     x3     x4
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │    60     16     99     68
   2 │    96     74     17     59
   3 │    29     86     56     84
   4 │    60     91     57      5
   5 │    24     24     94     56

In [9]:
df2 = DataFrame(array, ["Grade 1", "Grade 2", "Grade 3", "Grade 4"])

5×4 DataFrame
 Row │ Grade 1  Grade 2  Grade 3  Grade 4
     │ Int64    Int64    Int64    Int64
─────┼────────────────────────────────────
   1 │      60       16       99       68
   2 │      96       74       17       59
   3 │      29       86       56       84
   4 │      60       91       57        5
   5 │      24       24       94       56

----

<b>2) Functions</b>

In [22]:
# Renaming Columns
rename!(df, ["Grade_2", "Grade_3", "Grade_4", "Grade_1"])

5×4 DataFrame
 Row │ Grade_2  Grade_3  Grade_4  Grade_1
     │ Int64    Int64    Int64    Int64
─────┼────────────────────────────────────
   1 │      60       16       99       68
   2 │      96       74       17       59
   3 │      29       86       56       84
   4 │      60       91       57        5
   5 │      24       24       94       56

In [23]:
# Selecting Datas (one of both ways)
df."Grade_1"
df.Grade_1

5-element Vector{Int64}:
 68
 59
 84
  5
 56

In [24]:
# Slicing
df[:, 1:3] # [rowsRange, columnsRange]

5×3 DataFrame
 Row │ Grade_2  Grade_3  Grade_4
     │ Int64    Int64    Int64
─────┼───────────────────────────
   1 │      60       16       99
   2 │      96       74       17
   3 │      29       86       56
   4 │      60       91       57
   5 │      24       24       94

In [28]:
# Reordering Columns
# select(df, newColumnsOrder, rowsRange)
select!(df, ["Grade_1", "Grade_2", "Grade_3", "Grade_4"], :)

5×4 DataFrame
 Row │ Grade_1  Grade_2  Grade_3  Grade_4
     │ Int64    Int64    Int64    Int64
─────┼────────────────────────────────────
   1 │      68       60       16       99
   2 │      59       96       74       17
   3 │      84       29       86       56
   4 │       5       60       91       57
   5 │      56       24       24       94

In [31]:
# Describe
# describe(df, mean => :mean, std => :std) # filtering describe results (just mean and std)
describe(df)

4×7 DataFrame
 Row │ variable  mean     min    median   max    nmissing  eltype
     │ Symbol    Float64  Int64  Float64  Int64  Int64     DataType
─────┼──────────────────────────────────────────────────────────────
   1 │ Grade_1      54.4      5     59.0     84         0  Int64
   2 │ Grade_2      53.8     24     60.0     96         0  Int64
   3 │ Grade_3      58.2     16     74.0     91         0  Int64
   4 │ Grade_4      64.6     17     57.0     99         0  Int64

In [38]:
# Shape
println("Number of Columns: $(ncol(df))")
println("Number of Rows: $(nrow(df))")

Number of Columns: 4
Number of Rows: 5

In [39]:
# Creating an ID column and putting it in the beggining
df.id = 1:nrow(df)
select!(df, "id", :)

5×5 DataFrame
 Row │ id     Grade_1  Grade_2  Grade_3  Grade_4
     │ Int64  Int64    Int64    Int64    Int64
─────┼───────────────────────────────────────────
   1 │     1       68       60       16       99
   2 │     2       59       96       74       17
   3 │     3       84       29       86       56
   4 │     4        5       60       91       57
   5 │     5       56       24       24       94

In [41]:
# Converting DataFrame back to Matrix/Array
matrix = Matrix(df)

5×5 Matrix{Int64}:
 1  68  60  16  99
 2  59  96  74  17
 3  84  29  86  56
 4   5  60  91  57
 5  56  24  24  94